.Car {
    width: 40vw;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    background: wheat;
    border: 2px solid black;
    border-radius: 15px;
    padding: 10px;
    margin-top: 15px;
    text-align: start;
}

.Car > p {
    margin: 5px 0;
    font-size: 18px;
    font-weight: 600;
}

.btn {
    width: 55%;
    font-weight: 700;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    transition: 0.5s;
}

.btn:hover {
    color: black;
    transition: 0.5s;
}

.btn:active {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    transition: 0s;
}