.CarForm {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;

    padding: 0 3%;
    margin-top: 10px;
}

.CarForm > input {
    width: 30%;
    height: 40px;
    background-color: #f5f5f5;
    border: 2px solid rgb(219, 219, 219);
    border-radius: 4px;
    margin: 10px 20px;
    padding: 0 15px;
    font-size: 17px;
}

.submit {
    width: 10%;
    height: 40px;

    background-color: rgb(126, 143, 93);
    font-weight: 700;
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
}

.submit:active {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    border: 2px solid black;
}

.submit:disabled {
    background: silver;
}